<div class="container-fluid">
    <div class="col-12">
        <!--imagen principal-->

        <img src="./assets/img/bg-girl.jpeg" class="img-fluid" alt="...">

        <div class="row nosotros justify-content-center">
            <div class="col-12 text-center">

                <h3 class="titulo m-2">Nuestra pasión por las ropas exóticas y elegante.</h3>
                <p>
                    Somoms una tienda fundada en el 2019, nos encargamos de la elaboracion de ropa de alta calidad, para damas que deseen convertirse en las diosas del paraiso!
                </p>

            </div>
        </div>

        <!--Productos-->

        <div class="row productos">
            <article class="col-12 text-center">

                <p class="titulo">Nuestros Produtos</p>
                <p>Ofrecemos ropas para damas. Tenemos disponible Ropa intima, blusas, pantalones, vestidos y Zapatos.</p>
            </article>

            <div class="col-12">
                <div class="row justify-content-center">
                    <article class="col-6 col-lg-3 py-1">
                        <figure class="producto">
                            <img src="./assets/img/products/blusa1.jpg" class="img-fluid" alt="">
                            <figcaption class="overlay">
                                <p class="overlay-texto">Blusa Paradise</p>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="col-6 col-lg-3 py-1">
                        <figure class="producto">
                            <img src="./assets/img/products/inte.jpg" class="img-fluid" alt="">
                            <figcaption class="overlay">
                                <p class="overlay-texto">Interiores Paradise</p>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="col-6 col-lg-3 py-1">
                        <figure class="producto">
                            <img src="./assets/img/products/zapato3.jpg" class="img-fluid" alt="">
                            <figcaption class="overlay">
                                <p class="overlay-texto">Zapatos Paradise</p>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="col-6 col-lg-3 py-1">
                        <figure class="producto">
                            <img src="./assets/img/products/pantalones1.jpg" class="img-fluid" alt="">
                            <figcaption class="overlay">
                                <p class="overlay-texto">Pantalones paradise</p>
                            </figcaption>
                        </figure>
                    </article>


                </div>
            </div>
        </div>


        <!--separador-->
        <div class=" separador text-center text-white">
            <p class=" text-center"></p>
        </div>

        <!---->

        <div class="container">
            <div class="row acerca-de justify-content-around">
                <article class="col-10 col-sm-5">
                    <figure class="text-center">
                        <img src="./assets/img/icons/icon-team.png" alt="">
                        <figcaption>

                            <strong class="mb-2">Un equipo de expertos</strong>
                            <div class="w-100"></div>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem totam dolorem error.

                        </figcaption>
                    </figure>
                </article>

                <article class="col-10 col-sm-5">
                    <figure class="text-center">
                        <img src="./assets/img/icons/icon-services.png" alt="">
                        <figcaption>

                            <strong class="mb-2">Una historia de servicio</strong>
                            <div class="w-100"></div>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem totam dolorem error.

                        </figcaption>
                    </figure>
                </article>
            </div>
        </div>

        <div class="container-fluid px-0 galeria">
            <div class="row justify-content-center mx-0 px-0">
                <div class="col-4 px-0 mx-0">
                    <img src="./assets/img/display/vestido3.jpg" alt="">
                </div>
                <div class="col-4 px-0 mx-0">
                    <img src="./assets/img/display/vestido2.jpg" alt="">
                </div>
                <div class="col-4 px-0 mx-0">
                    <img src="./assets/img/display/vestido1.jpg" alt="">
                </div>
            </div>
        </div>


        <app-footer></app-footer>


    </div>
</div>