.boton {
    background-color: #531253;
}

.titulo {
    color: #531253;
    font-family: 'Noto Serif', serif;
    font-style: italic;
}

.letra {
    font-family: 'Noto Serif', serif;
    font-style: italic;
}