<div class="row justify-content-center redes-sociales footer navbar-fixed-bottom">
    <div class="col-auto">
        <a href="https://www.facebook.com/profile.php?id=100008021476723"><img src="../../../assets/img/icons/face.png" alt=""></a>
        <a href="https://www.instagram.com/nairobinivar/?hl=es-la"><img src="../../../../assets/img/icons/redes.jpg" alt=""></a>
        <a href="https://www.youtube.com/channel/UC1ql7HKlRhCj_rKtQ9At_fA"><img src="../../../assets/img/icons/youtube.png" alt=""></a>

    </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small ">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-2 fondo">
        <p>© 2021 Copyright: Esta pagina fue elaborada por Nairobi Nivar</p>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->